.button-container {
  background-color: #ad986f;
  border-radius: 5rem;
  transition: background-color 0.2s ease-out;
}

.button-container:hover {
  background-color: #ffffff;
  cursor: pointer;
  border: 1px solid #ad986f;
}

.button-container p {
  color: #ffffff;
  font-size: 15rem;
  font-weight: 600;
  font-style: italic;
  letter-spacing: 0.7rem;
  transition: all 0.2s ease-out;
}

.button-container:hover p {
  color: #ad986f;
  cursor: pointer;
  letter-spacing: 1.3rem;
}

@keyframes appear {
  from {
    opacity: 0;
    padding: 10rem 10rem;
  }
  to {
    opacity: 1;
    padding: 10rem 45rem;
  }
}
