html {
  background-color: #fcfcfc;
  font-family: IBM Plex Sans;
  color: #0a0a0a;
}

#loading-screen {
  background-color: #fcfcfc;
}

#loading-screen .bar-container {
  background-color: #a8a5a3;
}

#loading-screen .bar {
  background: linear-gradient(120deg, #a76407 0%, #e59d39 50%, #e59d39 100%);
}

/*0a0a0a*/
/* START */
.greeting {
  font-size: 50rem;
  width: 50%;
  line-height: 60rem;
  font-weight: 300;
  margin-top: 75rem;
  margin-left: 25rem;
  letter-spacing: 2rem;
  transition: transform 0.3s ease-in-out;
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .greeting {
    margin-top: 130%;
    margin-left: 0;
    width: 100%;
  }
}

.greeting .color-switch {
  animation: changeColor 0.2s linear 0.5s forwards;
}

.greeting .underline {
  background-image: linear-gradient(
    120deg,
    #a76407 0%,
    #e59d39 50%,
    #e59d39 100%
  );
  background-repeat: no-repeat;
  background-position: 0 100%;
  background-size: 0% 2rem;
  animation: underline 0.2s linear 0.5s forwards;
  overflow: visible;
}

/* Animations */
@keyframes changeColor {
  from {
    color: #0a0a0a;
  }
  to {
    color: #e59d39;
  }
}

@keyframes underline {
  from {
    background-size: 0% 2rem;
  }
  to {
    background-size: 100% 2rem;
  }
}
