html {
  background-color: #fcfcfc;
  font-family: IBM Plex Sans;
  color: #000000d6;
  font-size: 0.5px;
}
@media only screen and (min-width: 480px) {
  html {
    overflow: visible;
    font-size: 0.75px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    overflow: visible;
    font-size: 1px;
  }
}

#root {
  flex-direction: column;
  width: min(80%, 1200px);
  margin: 0 auto;
}

#loading-screen {
  background-color: #fcfcfc;
}

#loading-screen .bar-container {
  background-color: #a8a5a3;
}

#loading-screen .bar {
  background: linear-gradient(120deg, #a76407 0%, #ad986f 50%, #ad986f 100%);
}

/* START */
.sticky-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0 max(10vw, calc((100vw - 1200px) / 2));
  backdrop-filter: blur(4px);
}

.name {
  font-family: Playfair Display;
  font-size: 60rem;
  letter-spacing: 2rem;
  font-style: italic;
  z-index: 11;
}

.intro {
  height: 80vh;
  display: grid;
  grid-template-areas:
    "name-greet"
    "lottie";
  align-items: flex-end;
  row-gap: 10rem;
  column-gap: 20rem;
  position: relative;
  grid-template-rows: 1fr 1fr;
}
@media only screen and (min-width: 480px) {
  .intro {
    align-items: center;
    height: 100vh;
    margin-top: 0;
    grid-template-areas: "name-greet lottie";
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr;
  }
}

.name-greet {
  grid-area: name-greet;
}

.greeting {
  font-size: 20rem;
  width: 90%;
  line-height: 30rem;
  vertical-align: ce;
  color: #00000099;
}

.greeting .color-switch {
  animation: 0.2s changeColor 0.5s ease-out both;
}

.intro-lottie {
  grid-area: lottie;
}

.big-section {
  padding: 5vw 3vw;
  border-top: 1px solid #946d24;
}

.sub-section {
  margin-bottom: 100rem;
}

.sub-section-title {
  font-size: 20rem;
  color: #ad986f;
  font-family: Playfair Display;
  text-align: center;
  margin: 30rem;
  letter-spacing: 1rem;
}

.expertise {
  display: grid;
  grid-template-areas:
    "frontend"
    "backend"
    "cs";
  row-gap: 50rem;
}
@media only screen and (min-width: 480px) {
  .expertise {
    grid-template-areas:
      "frontend"
      "backend"
      "cs";
    row-gap: 100rem;
  }
}

.frontend {
  grid-area: frontend;
}

.backend {
  grid-area: backend;
}

.cs {
  grid-area: cs;
}

.expertise-section {
  display: grid;
  flex-direction: column;
  grid-template-areas:
    "exp-header exp-header"
    "exp-text exp-text"
    "exp-skills exp-lottie";
  row-gap: 10rem;
  align-items: center;
}

@media only screen and (min-width: 480px) {
  .expertise-section:nth-child(odd) {
    column-gap: 20rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "exp-header exp-lottie"
      "exp-text exp-lottie"
      "exp-skills exp-lottie";
  }
  .expertise-section:nth-child(even) {
    column-gap: 20rem;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "exp-lottie exp-header"
      "exp-lottie exp-text"
      "exp-lottie exp-skills";
  }
}

.expertise-section h3 {
  font-family: Playfair Display;
  font-size: 30rem;
  font-weight: 700;
  grid-area: exp-header;
  letter-spacing: 0.9rem;
}

.expertise-text {
  font-size: 20rem;
  line-height: 30rem;
  color: #00000099;
  grid-area: exp-text;
}
@media only screen and (min-width: 480px) {
  .expertise-text {
    font-size: 15rem;
    line-height: 25rem;
  }
}

.expertise-skills {
  font-size: 20rem;
  line-height: 30rem;
  color: #00000099;
  grid-area: exp-skills;
  font-family: Playfair Display;
  font-weight: 700;
}
@media only screen and (min-width: 480px) {
  .expertise-skills {
    font-size: 15rem;
    line-height: 25rem;
  }
}

.expertise-skills span {
  color: #946d24;
  font-family: Playfair Display;
  font-weight: 700;
}

.expertise-lottie {
  grid-area: exp-lottie;
  justify-self: center;
}

.expertise-section:nth-child(-n + 2) .expertise-lottie {
  width: 50%;
}

.work-section {
  display: grid;
  grid-template-areas:
    "w-info w-year"
    "w-info w-tags"
    "w-desc w-desc"
    "w-link .";
  align-items: flex-start;
}
@media only screen and (min-width: 480px) {
  .work-section {
    grid-template-areas:
      ". w-year"
      ". w-tags"
      "w-info w-desc"
      "w-link w-desc"
      ". w-desc";
    grid-template-columns: 1fr 3fr;
    grid-template-rows: fit-content;
    column-gap: 20rem;
  }
}

.work-info {
  grid-area: w-info;
  align-self: flex-start;
  justify-self: flex-start;
}

.work-section h3 {
  font-family: Playfair Display;
  font-size: 30rem;
  font-weight: 700;
  letter-spacing: 0.9rem;
}

.work-year {
  font-family: Playfair Display;
  font-size: 15rem;
  justify-self: flex-end;
  align-self: flex-start;
  grid-area: w-year;
}

.work-role {
  color: #00000099;
  font-family: Playfair Display;
  font-size: 20rem;
  line-height: 30rem;
}

.work-tags {
  font-size: 15rem;
  line-height: 20rem;
  color: #00000099;
  font-family: Playfair Display;
  font-weight: 700;
  grid-area: w-tags;
  justify-self: flex-end;
  align-self: flex-start;
}

.work-desc {
  font-size: 20rem;
  line-height: 30rem;
  color: #00000099;
  grid-area: w-desc;
  justify-self: flex-end;
  align-self: flex-start;
}
@media only screen and (min-width: 480px) {
  .work-desc {
    font-size: 15rem;
    line-height: 25rem;
    margin-top: -20rem;
  }
}

.work-link {
  grid-area: w-link;
}

.project-section {
  display: grid;
  grid-template-areas:
    "p-1"
    "p-2"
    "p-3";
  column-gap: 20rem;
  row-gap: 50rem;
}
@media only screen and (min-width: 480px) {
  .project-section {
    grid-template-areas: "p-1 p-2 p-3";
  }
}

.project-item {
  border-radius: 1%;
  background-color: #f5f5f5;
  overflow: hidden;
  box-shadow: 10rem 5rem 30rem -23rem #00000094;
}

.project-item h3 {
  font-size: 40rem;
  font-family: Playfair Display;
  font-weight: 600;
  margin: 5rem 10rem;
}
@media only screen and (min-width: 480px) {
  .project-item h3 {
    font-size: 20rem;
  }
}

.project-year {
  color: #00000099;
  font-family: Playfair Display;
  font-size: 25rem;
  margin: 0 10rem;
}
@media only screen and (min-width: 480px) {
  .project-year {
    font-size: 15rem;
  }
}

.project-desc {
  font-size: 20rem;
  line-height: 30rem;
  color: #00000099;
  margin: 10rem;
}
@media only screen and (min-width: 480px) {
  .project-desc {
    font-size: 15rem;
    line-height: 25rem;
  }
}

/* Animations */
@keyframes changeColor {
  from {
    color: #00000099;
  }
  to {
    color: #000000d6;
  }
}
