html {
  background-color: #fcfcfc;
  font-family: IBM Plex Sans;
  color: #0a0a0a;
  font-size: 0.5px;
}
@media only screen and (min-width: 480px) {
  html {
    overflow: visible;
    font-size: 0.75px;
  }
}
@media only screen and (min-width: 1024px) {
  html {
    overflow: visible;
    font-size: 1px;
  }
}

#root {
  flex-direction: column;
  padding: 0 10vw;
}

#loading-screen {
  background-color: #fcfcfc;
}

#loading-screen .bar-container {
  background-color: #a8a5a3;
}

#loading-screen .bar {
  background: linear-gradient(120deg, #a76407 0%, #ad986f 50%, #ad986f 100%);
}

/* START */
.intro {
  display: grid;
  grid-template-areas:
    "name-greet"
    "lottie";
  align-items: center;
  margin-top: 10vh;
  row-gap: 50rem;
  column-gap: 20rem;
}
@media only screen and (min-width: 480px) {
  .intro {
    grid-template-areas: "name-greet lottie";
    grid-template-columns: 1.5fr 1fr;
  }
}

.name-greet {
  grid-area: name-greet;
}

.name {
  font-family: Playfair Display;
  font-size: 60rem;
  letter-spacing: 2rem;
  font-style: italic;
  margin-left: -5rem;
}

.greeting {
  font-size: 20rem;
  width: 90%;
  line-height: 30rem;
  letter-spacing: 1rem;
  margin-top: 20rem;
  vertical-align: ce;
  color: #00000099;
}

.greeting .color-switch {
  color: #0a0a0a;
}

.lottie {
  grid-area: lottie;
  background-color: #f5f5f5;
}

/* Animations */
@keyframes changeColor {
  from {
    color: #0a0a0a;
  }
  to {
    color: #e59d39;
  }
}
