.App {
  text-align: center;
  width: 100vw;
  height: min(calc(100vw / 1920 * 1080), 100vh);
  overflow: hidden;
}

.page {
  display: flex;
  width: inherit;
  height: inherit;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.top-left-svg {
  position: absolute;
  top: -18%;
  left: 0;
  width: 45%;
  height: auto;
  overflow: visible;
  z-index: 1;
}

@keyframes jiggle {
  from {
    transform: rotateZ(0deg);
  }
  25% {
    transform: rotateZ(3deg);
  }
  50% {
    transform: rotateZ(0deg);
  }
  75% {
    transform: rotateZ(-3deg);
  }
  to {
    transform: rotateZ(0deg);
  }
}

/* Shared */
.hidden {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}

.hidden-below {
  transform: translateY(100%);
  opacity: 0;
}

.hidden-above {
  transform: translateY(-100%);
  opacity: 0;
}
