.App {
  height: 100%;
  text-align: center;
}

.page {
  display: flex;
  width: 100vw;
  max-height: 100vh;
  min-height: calc(100vw / 1920 * 1070);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}
