/* Nav bar */
.nav-bar {
  position: absolute;
  top: 3%;
  right: 4%;
  display: flex;
  z-index: 10;
  flex-direction: column;
}

.nav-names {
  display: flex;
}

.nav-bar h5 {
  color: #0c1d4ad7;
  font-size: 20rem;
  letter-spacing: 2rem;
  margin-left: 20rem;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 5rem;
}

.nav-bar h5:first-of-type {
  margin-left: 0rem;
}

.nav-bar h5:hover {
  color: #b1ceb4;
  transition: color 0.2s ease-in-out;
}

.bottom-bar {
  background-color: #01436e;
  height: 1rem;
  transition: transform 0.2s ease, width 0.2s ease;
}
