/* Nav bar */
.nav-bar {
  position: absolute;
  bottom: 10%;
  right: 0;
  display: flex;
  z-index: 10;
  flex-direction: column;
  transform: rotateZ(90deg) translateY(50%);
  transform-origin: right;
}

.nav-names {
  display: flex;
}

.nav-bar h5 {
  color: #a8a5a3;
  font-size: 20rem;
  margin-left: 20rem;
  font-weight: 400;
  cursor: pointer;
  padding-bottom: 3rem;
}

.nav-bar h5:first-of-type {
  margin-left: 0rem;
}

.nav-bar h5:hover {
  color: #9e5d24;
  transition: color 0.2s ease-in-out;
}

.bottom-bar {
  background-color: #9e5d24;
  height: 1rem;
  transition: transform 0.2s ease, width 0.2s ease;
}
