/* Nav bar */
.nav-bar {
  position: absolute;
  bottom: 10%;
  right: 0;
  display: flex;
}

.nav-names {
  display: flex;
  flex-direction: column;
}

.nav-bar h5 {
  color: #a8a5a3;
  font-size: 20rem;
  margin-top: 20rem;
  font-weight: 400;
  cursor: pointer;
  padding-left: 3rem;
  writing-mode: vertical-rl;
}

.nav-bar h5:first-of-type {
  margin-top: 0rem;
}

.nav-bar h5:hover {
  color: #9e5d24;
  transition: color 0.2s ease-in-out;
}

.left-bar {
  background: linear-gradient(to bottom, #eeb669, #c97328);
  width: 2rem;
  transition: all 0.2s ease-in-out;
}
