/* Page indicator */
.page-numbers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: 10%;
  left: 0;
  height: 40%;
}

.page-numbers h5 {
  color: #a8a5a3;
  font-family: Palatino Bold;
  font-size: 20rem;
  transition: all 0.5s ease-in-out;
}
