/* Page One */
.page-one {
  display: flex;
  justify-content: flex-start;
  padding: 11%;
  width: 100%;
}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
}

.name-container {
  display: flex;
  transition: transform 0.3s ease-out;
}

.name-container h1 {
  font-family: Palatino Bold;
  font-size: 150rem;
  letter-spacing: 5rem;
  color: #eeb669;
  text-align: left;
}

.last-name {
  font-family: Palatino Bold;
  font-size: 150rem;
  letter-spacing: 5rem;
  text-align: left;
  margin-left: 50rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3rem;
  -webkit-text-stroke-color: #eeb669;
  z-index: 3;
}

.img {
  position: absolute;
  right: -10%;
  top: 0;
  overflow: hidden;
}

.img img {
  width: 23vw;
  opacity: 0.5;
}

@media only screen and (min-width: 1200px) {
  .img img {
    width: 20vw;
  }
}
.img .gradient {
  background: linear-gradient(#0000001f, #dfb58410);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
}

.greeting {
  font-size: 20rem;
  line-height: 30rem;
  color: #a8a5a3;
  font-weight: 200;
  margin-top: 45rem;
  margin-left: 25rem;
  transition: transform 0.3s ease-in-out;
  z-index: 3;
}

.greeting .color-switch {
  color: #a8a5a3;
  transition: all 0.2s linear;
}

.greeting .underline {
  color: #a8a5a3;
  background-image: linear-gradient(120deg, #eeb669 0%, #c97328 100%);
  background-repeat: no-repeat;
  background-size: 0% 2rem;
  background-position: 0 100%;
  transition: background-size 0.2s linear;
  overflow: visible;
}

.explore-container {
  display: flex;
  margin-left: 25rem;
  margin-top: 100rem;
  cursor: pointer;
}

.explore-text {
  position: relative;
  overflow-y: hidden;
  padding-right: 45rem;
}

.explore-text p {
  font-weight: 600;
  color: #f2f2f2;
  font-size: 35rem;
  transition: transform 0.5s ease-in-out;
}

.explore-text p:nth-child(2) {
  position: absolute;
  top: -200%;
}

.explore-text p:nth-child(3) {
  position: absolute;
  top: -400%;
}

.explore-text:hover p {
  color: #c97328;
}

.explore-container .triangle {
  width: auto;
  height: 25rem;
  align-self: center;
}
