/* Page Two */
.page-two {
  display: flex;
  justify-content: flex-end;
  padding: 10% 5%;
  width: inherit;
  height: inherit;
}

.desc-body {
  width: 37%;
  height: 100%;
  margin-left: 5%;
  margin-right: 50rem;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.project-titles {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  align-self: center;
}

.project-title {
  font-family: Palatino Bold;
  cursor: pointer;
  color: #f2f2f2;
  font-size: 55rem;
  font-weight: 400;
  letter-spacing: 2rem;
  line-height: 75rem;
  transition: 0.2s all ease-out;
}

.project-tags {
  display: flex;
  justify-content: flex-start;
  margin-top: 150rem;
}

.project-tag-char {
  font-size: 30rem;
  letter-spacing: 2rem;
  color: #c79766;
  font-weight: 300;
  animation: stagger 0.3s ease-in-out both;
  white-space: pre;
}

.project-description > p {
  width: 100%;
  font-size: 20rem;
  color: #a8a5a3;
  line-height: 35rem;
  font-weight: 200;
  text-align: right;
  margin-top: 30rem;
}

.project-description > p > span {
  color: #eeb669;
}

.project-year-container {
  position: absolute;
  top: 10%;
  right: calc(5% + 15rem);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-year-dash {
  height: 1px;
  margin: 10rem 0 10rem -50%;
  animation: slide-left 0.5s ease-out 0.5s both,
    reduce-width 1s ease-out 0.5s both, white-to-black 1s ease-out 0.5s both;
}

.year-wrapper {
  overflow: hidden;
}

.project-year {
  font-family: Palatino;
  text-orientation: upright;
  writing-mode: vertical-lr;
  color: #f2f2f2;
  width: auto;
  font-size: 15rem;
  text-align: justify;
}

.project-year.even {
  animation: slide-up 0.5s ease-out 0.5s both;
}

.project-year.odd {
  animation: slide-down 0.5s ease-out 0.5s both;
}

.more-container {
  margin-top: 40rem;
  display: flex;
  align-items: flex-end;
  cursor: pointer;
  text-decoration: none;
}

.more-container p {
  font-weight: 600;
  color: #f2f2f2;
  font-size: 20rem;
  margin-right: 10rem;
}

.more-container:hover p {
  color: #c97328;
}

.more-container .triangle {
  width: auto;
  height: 7rem;
  align-self: center;
  transform: rotateZ(-90deg);
}

@keyframes slide-left {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes reduce-width {
  from {
    width: 500%;
  }
  to {
    width: 200%;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes white-to-black {
  from {
    background-color: white;
  }
  to {
    background-color: #3e3d3d;
  }
}

@keyframes stagger {
  from {
    transform-origin: bottom;
    transform: rotateX(90deg) skewX(-10deg) translateY(-50%);
  }
  to {
    transform: rotateX(0deg) skewX(0deg) translateY(0);
  }
}
