/* Page One */
.page-one {
  display: flex;
  justify-content: center;
  padding: 11%;
  width: 100%;
}
@media only screen and (max-width: 480px) {
  .page-one {
    padding: 0 5%;
    flex-direction: column;
  }
}

.intro-container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.name-container {
  display: flex;
  transition: transform 0.3s ease-out;
  align-self: center;
}
@media only screen and (max-width: 480px) {
  .name-container {
    flex-direction: column;
    align-self: flex-start;
    align-items: flex-start;
  }
}

.name-container h1 {
  font-family: Palatino Bold;
  font-size: 100rem;
  letter-spacing: 5rem;
  color: #eeb669;
  text-align: right;
  z-index: 3;
  margin-right: 40rem;
}
@media only screen and (max-width: 480px) {
  .name-container h1 {
    margin-right: 0;
  }
}

.last-name {
  font-family: Palatino Bold;
  font-size: 100rem;
  letter-spacing: 5rem;
  text-align: left;
  margin-left: 20rem;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 2rem;
  -webkit-text-stroke-color: #eeb669;
  z-index: 3;
}
@media only screen and (max-width: 480px) {
  .last-name {
    margin-left: 0;
  }
}

.img {
  position: absolute;
  right: 0;
  top: 0;
  width: 47%;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .img {
    width: 100%;
    left: 50%;
    top: 100rem;
    transform: translateX(-50%);
  }
}

.img img {
  width: 100%;
  opacity: 0.8;
}

.img .gradient {
  background: linear-gradient(#000000dc, #dfb5842c);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 150%;
  z-index: 1;
}

.img .layer-1 {
  background: linear-gradient(to bottom, #eeb669 0%, #c97328 100%);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: transform 0.2s linear;
}

.img .layer-2 {
  background: linear-gradient(#5b544f69, #a8a5a369);
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 150%;
  z-index: 1;
  transition: transform 0.2s linear;
}

.greeting {
  font-size: 20rem;
  width: 50%;
  line-height: 35rem;
  color: #a8a5a3;
  font-weight: 200;
  margin-top: 75rem;
  margin-left: 25rem;
  letter-spacing: 2rem;
  transition: transform 0.3s ease-in-out;
  z-index: 3;
  animation: slide-right-spring 0.8s linear;
  text-align: left;
}
@media only screen and (max-width: 480px) {
  .greeting {
    margin-top: 130%;
    margin-left: 0;
    width: 100%;
  }
}

.greeting .color-switch {
  color: #a8a5a3;
  transition: all 0.2s linear;
}

.greeting .underline {
  color: #a8a5a3;
  background-image: linear-gradient(120deg, #eeb669 0%, #c97328 100%);
  background-repeat: no-repeat;
  background-size: 0% 2rem;
  background-position: 0 100%;
  transition: background-size 0.2s linear;
  overflow: visible;
}

.explore-container {
  display: flex;
  margin-left: 25rem;
  margin-top: 100rem;
  overflow: hidden;
}
@media only screen and (max-width: 480px) {
  .explore-container {
    margin-left: 25rem;
    margin-top: 50rem;
  }
}

.explore-text {
  position: relative;
  overflow-y: hidden;
  padding-right: 25rem;
  transition: transform 0.3s ease-in;
}

.explore-text p {
  font-weight: 600;
  color: #f2f2f2;
  font-size: 15rem;
  letter-spacing: 3rem;
  transition: transform 0.5s ease-in-out;
}

.explore-text p:nth-child(2) {
  position: absolute;
  top: -200%;
}

.explore-text p:nth-child(3) {
  position: absolute;
  top: -400%;
}

.explore-text:hover p {
  color: #c97328;
}

.explore-container .triangle {
  width: auto;
  height: 15rem;
  align-self: center;
  transition: transform 0.3s ease-in;
}
