/* Page Three */
.page-three {
  display: flex;
  padding: 8% 5%;
  width: 100%;
}

.skill-group-container {
  display: grid;
  width: 40%;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto;
  grid-gap: 60rem;
  justify-items: end;
  align-items: start;
}

.skill-group {
  display: flex;
}

.skill-column {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  border-right: #c79766 solid 1rem;
  padding-right: 10rem;
  margin-right: 7rem;
  height: auto;
}

.skill-column p {
  font-size: 30rem;
  font-weight: 300;
  letter-spacing: 3rem;
  margin-bottom: 20rem;
  color: #c79766;
  cursor: pointer;
}

.skill-column p:last-child {
  margin-bottom: 0;
}

.skill-column p:hover {
  color: #5b544f;
}

.group-name p {
  color: #5b544f;
  font-size: 15rem;
  font-weight: 700;
  writing-mode: vertical-rl;
  transition: color 0.2s ease-out;
}

.skill-svg-container {
  width: 50%;
  height: 100%;
  float: right;
  padding-left: 10%;
  animation: draw 1s both;
}

.skill-svg-container text {
  animation: draw 10s linear forwards;
  font-size: 120rem;
  stroke-dasharray: 50;
  stroke-linejoin: round;
  stroke-linecap: round;
}

@keyframes draw {
  from {
    stroke-dasharray: 100;
  }
  50% {
    stroke-dasharray: 300;
  }
  to {
    stroke-dasharray: 1000;
  }
}
