/* Page Two */
.page-two {
  background-color: #fafafa;
  display: flex;
  flex-direction: row;
}

.pane {
  height: 100%;
  transition-property: all;
  transition-timing-function: ease;
}

.left {
  width: 50%;
  transition-duration: 0.5s;
  padding: 10vh 3vw;
  overflow: hidden;
  align-self: flex-start;
}

.left-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}

.right {
  width: 50%;
  display: flex;
  margin-right: 3%;
}

.project-titles {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden;
}

.vertical-bar-container {
  position: relative;
  overflow: hidden;
}

.vertical-bar {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #0c1d4a1a;
  width: 2rem;
  transition: all 0.5s ease-in-out;
}

.vertical-bar-selection {
  background-color: #01436e;
  width: 2rem;
  transition: all 0.2s ease;
  transform-origin: center;
}

.project-title {
  cursor: pointer;
  color: #01426e34;
  font-size: 50rem;
  font-weight: 400;
  letter-spacing: 15rem;
  opacity: 1;
  font-weight: 700;
  padding: 3rem 5rem;
  transition: 0.2s all ease-out;
}

.project-number {
  font-size: 40rem;
  letter-spacing: 2rem;
  display: inline-block;
  align-self: flex-end;
  animation: slide-left 0.5s ease-out both;
  font-weight: 600;
  color: #768281;
}

.project-header {
  display: flex;
  justify-content: flex-start;
}

.project-header-char {
  font-family: Palatino Bold;
  font-size: 60rem;
  letter-spacing: 4rem;
  text-align: left;
  color: #0c1d4a;
  animation: stagger 0.3s ease-in-out both;
}

.project-year-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-year-dash {
  height: 1px;
  margin: 10rem 0 10rem -50%;
  animation: slide-left 0.5s ease-out 0.5s both,
    reduce-width 1s ease-out 0.5s both, white-to-black 1s ease-out 0.5s both;
}

.year-wrapper {
  overflow: hidden;
}

.project-year {
  text-orientation: upright;
  writing-mode: vertical-lr;
  color: #0c1d4a;
  width: auto;
  font-size: 13rem;
  text-align: justify;
}

.project-year.even {
  animation: slide-up 0.5s ease-out 0.5s both;
}

.project-year.odd {
  animation: slide-down 0.5s ease-out 0.5s both;
}

.row {
  display: flex;
  flex-direction: row;
}

.project-body {
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin-top: 15%;
}

.project-description {
  font-family: Palatino;
  text-align: left;
  width: 85%;
  margin: 5% 0 8% 0;
  font-size: 18rem;
  color: #0c1d4a;
  line-height: 25rem;
}

.project-point-container {
  margin: 5%;
}

.project-point {
  text-align: left;
  margin: 3% 0;
  font-size: 20rem;
  width: 90%;
  letter-spacing: 1rem;
  line-height: 30rem;
  color: #0c1d4a;
  font-weight: 300;
}

.page-two .bubble-left {
  position: absolute;
  top: 3%;
  left: 15%;
  width: 3%;
  height: auto;
  overflow: visible;
  transition: all 500ms ease-in-out;
}

.page-two .bubble-right {
  position: absolute;
  bottom: 0;
  right: 33%;
  width: 10%;
  height: auto;
  overflow: visible;
  transition: all 500ms ease-in-out;
}

.page-two .corner-leaves {
  position: absolute;
  bottom: -5%;
  right: -6%;
  width: 10%;
  height: auto;
  transform: rotateZ(-10deg);
  transition: transform 500ms ease-in-out;
  transform-origin: bottom;
}

@keyframes slide-left {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes reduce-width {
  from {
    width: 500%;
  }
  to {
    width: 200%;
  }
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes white-to-black {
  from {
    background-color: white;
  }
  to {
    background-color: #3e3d3d;
  }
}

@keyframes stagger {
  from {
    transform-origin: bottom;
    transform: rotateX(90deg) skewX(-10deg) translateY(-20%);
  }
  to {
    transform: rotateX(0deg) skewX(0deg) translateY(0);
  }
}
