/* Page One */
.page-one {
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 11% 10%;
}

.name-container {
  display: flex;
}

.name-container h1 {
  font-family: Palatino Bold;
  font-size: 150rem;
  letter-spacing: 5rem;
  color: #eeb669;
  text-align: left;
}

.last-name-img {
  position: relative;
  width: 50%;
  height: auto;
}

.last-name {
  position: absolute;
  left: 10%;
  top: 0;
  font-family: Palatino Bold;
  font-size: 150rem;
  letter-spacing: 5rem;
  text-align: left;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 3rem;
  -webkit-text-stroke-color: #eeb669;
}

.image {
  position: absolute;
  left: 5%;
  top: 0;
  width: 25vw;
}

.page-one p {
  width: 35%;
  font-size: 25rem;
  letter-spacing: 1.7rem;
  line-height: 45rem;
  color: #a8a5a3;
  font-weight: 200;
  margin: 45rem 0 0 25rem;
}

.page-one p span {
  color: #eeb669;
}
