/* Page Four */
.page-four {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 10% 5%;
  width: 100%;
}

.page-four p {
  font-size: 40rem;
  font-weight: 200;
  color: #a8a5a3;
}
@media only screen and (max-width: 480px) {
  .page-four p {
    font-size: 30rem;
  }
}

.links {
  margin-top: 10%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
@media only screen and (max-width: 480px) {
  .links {
    flex-direction: column;
    align-items: center;
  }
}

.links a {
  color: #a8a5a3;
  font-size: 60rem;
  font-weight: 700;
  cursor: none;
}
@media only screen and (max-width: 480px) {
  .links a {
    line-height: 150rem;
  }
}

.links a:hover {
  color: #9e5d24;
}
