/* Page Two */
.page-two {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  flex: 1;
}

.pane {
  height: 100%;
  transition-property: all;
  transition-timing-function: ease;
}

.pane-hidden {
  transform: translateY(100%);
}

.left-pane {
  width: 50%;
  transition-duration: 0.5s;
  padding: 10vh 3vw;
  overflow: hidden;
}

.left-pane-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.mid-pane {
  width: 10%;
  background-color: #303030;
  transition-duration: 0.75s;
}

.right-pane {
  width: 40%;
  background-color: #3e3d3d;
  transition-duration: 1s;
  box-shadow: 0px 7px 15px 0px #1f1f1f;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: all 0.25s;
}

.projects-title {
  color: #ffffffe5;
  font-size: 2.5rem;
  font-family: "Montserrat";
  font-weight: 400;
  letter-spacing: 0.35rem;
  margin: 10vh 5vw;
  align-self: flex-end;
  transition: 0.2s all ease-out;
}

.project-container {
  height: 6rem;
  width: 105%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dash {
  width: 0;
  height: 2px;
  transition: 0.2s width ease-out;
  background-color: #aeafaf41;
  margin-left: 20%;
}

.project {
  color: #ffffffe5;
  font-size: 2rem;
  font-family: "Raleway";
  font-weight: 400;
  letter-spacing: 0.25rem;
  margin-left: 3%;
  opacity: 1;
  transition: 0.2s all ease-out;
}

.project-hidden {
  transform: translateY(100%);
  opacity: 0;
}

.project-number {
  font-family: "Montserrat";
  font-size: 4rem;
  letter-spacing: 0.35rem;
  display: inline-block;
  align-self: flex-end;
  animation: slide-left 0.5s ease-out both;
}

.project-header {
  font-family: "Montserrat";
  font-size: 5rem;
  letter-spacing: 0.45rem;
  text-align: left;
  color: #ffffff;
  font-weight: 400;
}

.project-year-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-year-dash {
  /* width: 200%; */
  height: 1px;
  background-color: #ffffff80;
  margin: 1rem 0 1rem -50%;
  animation: slide-left 0.5s ease-out 0.5s both,
    reduce-width 1s ease-out 0.5s both;
}

.year-wrapper {
  overflow: hidden;
}

.project-year {
  font-family: "Montserrat";
  text-orientation: upright;
  writing-mode: vertical-lr;
  color: #ffffff80;
  width: auto;
  font-size: 1.1rem;
  text-align: justify;
}

.project-year.even {
  animation: slide-up 0.5s ease-out 0.5s both;
}

.project-year.odd {
  animation: slide-down 0.5s ease-out 0.5s both;
}

.row {
  display: flex;
  flex-direction: row;
}

.project-body {
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  margin-top: 15%;
}

.project-description {
  text-align: left;
  width: 85%;
  margin: 5%;
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  color: #ffffff80;
  line-height: 1.8rem;
}

.project-point-container {
  margin: 5% 10%;
}

.project-point {
  text-align: left;
  margin: 5% 0;
  font-size: 1.7rem;
  width: 90%;
  letter-spacing: 0.15rem;
  line-height: 2.5rem;
  color: #ffffff;
  font-weight: 400;
}

.slide-left {
  animation: slide-left 0.5s ease-out both;
}

@keyframes slide-left {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

.reduce-width {
  animation: reduce-width 0.5s ease-out both;
  animation-delay: 0.5s;
}

@keyframes reduce-width {
  from {
    width: 500%;
  }
  to {
    width: 200%;
  }
}

.slide-up {
  animation: slide-up 0.5s ease-out both;
}

@keyframes slide-up {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}

.slide-down {
  animation: slide-down 0.5s ease-out both;
}

@keyframes slide-down {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}

.opacity-visible {
  animation: opacity-visible 0.1s ease-out both;
}

@keyframes opacity-visible {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.hidden {
  opacity: 0;
  transition: 0.2s opacity ease-in-out;
}
